<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header_deslogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="get">
					<div>
						<label for="usuario">Usuario:</label>
						<input id="" type="email" name="usuario" value="">
					</div>
				 
					<div>
						<label for="contrasenia">Contrasenia:</label>
						<input id="" type="password" name="contra" value="">
					</div>
				 
					<div>
						<label for="recordarme">Recordarme:</label>
						<input id="" type="checkbox" name="login" value="Usuario">
						<input id="" type="checkbox" name="login" value="Contrasenia">
					</div>
				 
					<button type="submit">Enviar</button>
				 </form>
			</h2>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>