<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header_logueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="get">
					<div>
						<label for="imagen">Imagen:</label>
						<input id="" type="file" name="archivo" value="">
					</div>
					<div>
						<label for="imagen">Nombre Producto:</label>
						<input id="" type="text" name="producto" value="">
					</div>
					<div>
						<label for="descripcion">Descripcion:</label>
						<input id="" type="text" name="descripcion" value="">
					</div>
					<button type="submit">Enviar</button>
				 </form>
			</h2>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>