<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
	<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<% if (locals.usuarioLogueado != undefined) { %>
		<%- include("./partials/headerLogueado") %>
	<% } else { %>
		<%- include("./partials/header_deslogueado") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				<form action="/" method="POST">
					<div>
						<label for="imagen">Imagen:</label>
						<input id="" type="file" name="archivo" value=" " required>
					</div>
					<div>
						<input id="" type="text" name="producto" value=" " placeholder="Nombre del Producto" required>
					</div>
					<div>
						<input id="" type="text" name="descripcion" value=" " placeholder="Descripcion" required>
					</div>
					<button type="submit">Enviar</button>
				 </form>
			</h2>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>